
.game-settings-pane
{
    -fx-min-width: 300px;
    -fx-min-height: 330px;

    -fx-max-width: 300px;
    -fx-max-height: 330px;

    -fx-pref-width: 300px;
    -fx-pref-height: 330px;
}

.game-settings-rectangle
{
    -fx-arc-height: 20;
    -fx-arc-width: 20;
    -fx-stroke: none;

    -fx-fill: #FFFFFF;
    -fx-opacity: 0.7;
}