
.game-pane
{
    -fx-min-width: 750px;
    -fx-min-height: 500px;

    -fx-max-width: 750px;
    -fx-max-height: 500px;

    -fx-pref-width: 750px;
    -fx-pref-height: 500px;
}

.nim-container
{
    -fx-min-width: 50px;
    -fx-min-height: 50px;

    -fx-max-width: 50px;
    -fx-max-height: 50px;

    -fx-pref-width: 50px;
    -fx-pref-height: 50px;

    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.nim-card
{
    -fx-arc-height: 15;
    -fx-arc-width: 15;
    -fx-stroke: none;

    -fx-fill: DODGERBLUE;
    -fx-opacity: 0.8;
}